---
import Layout from "../layouts/Layout.astro";
import RichText from "../components/RichText.astro";
import payload from "payload";

const ca = await payload.find({
  collection: "pages",
});

const page = ca.docs.find((p) => {
  return p.slug === "/";
});

const title = page.title;
const layout = page.layout;
---

<Layout title={title}>
  <main class="container">
    <div class="content">
      <RichText content={layout[0].richText} />
    </div>
  </main>
</Layout>
